.button {
	color: var(--text);
	background: var(--bg);
	transition: all 0.4s ease;

	padding: 10px;

	border: none;
	border-radius: 8px;

	text-align: center;

	cursor: pointer;
}
.button:hover {
	background: var(--primary-hover);
	color: var(--text);
}
.button:disabled {
	opacity: 0.6;
	cursor: not-allowed;
}
